.wrapper {
    background-color: black;
    border-radius: 1em;
    padding: 1em;
    margin: 4.5em auto;
    max-width: 25%;
    font-family: 'Poppins';
}

button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;    
}

button:hover {
    cursor: pointer;
}

.orange {
    background-color: #FF9500;
    font-weight: 600;
}

.gray {
    background-color: #505050;
}

.lightgrey {
    background-color: #a6a6a6;
    color: black;
} 

.orange, .gray, .result{
    color: white;
    font-weight: 600;
    
}

.long {
    background-color: #505050;
    color: white;
    width: 6.55em;
    text-align: left;
    padding-left: 1.3em;
}

.result {
    display: flex;
    justify-content:right;
    margin-right: 1em;
    font-size: 3.5em;
    margin-right: 0.7em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 
***********************
**** MEDIA QUERIES ****
***********************
*/

@media (max-width:400px) {

    .wrapper {
        max-width: 90%;
        margin-top: 1.5em;
        margin-bottom: 0;
        align-items: center;
    }

    .buttons {
        margin-left: -0.625em;
        min-width: 110%;
    }

    .result {
        margin-right: 0.2em;
    }
    
}

@media (min-width:400px) {

    .wrapper {
        max-width: 90%;
        margin-top: 1.5em;
        width: 325px;
        margin-bottom: 0;
        align-items: center;
    }

    .buttons {
        margin-left: -0.625em;
        min-width: 110%;
    }

    .result {
        margin-right: 0.3em;
    }
    
}